telnet_port 4444
gdb_port 3333
interface ft2232
#ft2232_device_desc "Dual Device A"
ft2232_layout usbjtag
ft2232_vid_pid 0x0403 0x6010
jtag_khz 500

# ID pro XC95144XL
jtag newtap xc95144xl tap -irlen 8 -expected-id 0x49608093

proc loadsvf {} {
        svf project.svf quiet
}
